<div class="container contCol">
    <div class="row">
        <div class="col">
            <div class="container cont-width " >
                <div class="row form-control form-control-lg heading" style="width: 250px;">
                    <div class="col  col-st">
                        {{dataFetch.name}}
                    </div>
                </div>
                <div class="row form-control form-control-lg" style="width: 250px;">
                    <div class="col" (focus)="focus()">
                        <i class="fas fa-wifi"></i> Max.Speed:{{dataFetch.max_speed}}
                    </div>
                </div>
                <div class="row form-control form-control-lg " style="width: 250px;">
                    <div class="col">
                        <i class="fas fa-phone-square-alt"></i> {{dataFetch.contact_number}}
                    </div>
                </div>
                <div class="row form-control form-control-lg" style="width: 250px;">
                    <div class="col">
                        <i class="fas fa-envelope"></i> {{dataFetch.email}}
                    </div>
                </div>
                <div class="row form-control form-control-lg" style="width: 250px;">
                    <div class="col">
                        <i class="fas fa-money-check-alt"></i> Min.Plane:{{dataFetch.lowest_price}}
                    </div>
                </div>
                <div class="row form-control form-control-lg " style="width: 250px;">
                    <div class="col">
                        
                          
                        <i class="fas fa-envelope"></i> {{dataFetch.email}}
                              
                            
                          
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <div class="row">
       <div class="col">
               <app-rating [rating]='rateingValue'></app-rating>
        </div></div>
    <div class="row" style="margin-top: 50px;">
        <div class='rcorners1'>
            Bharti Airtel Limited, also known as Airtel, is an Indian global telecommunications
             services company based in Delhi, India. 
              
        </div>
    </div>
</div>



