table {
    width: 100%;
  }
  .my-cont{
    border: 1px solid black;
    width: auto;
    height: auto;
  }
  .my-row{
    border: 1px solid black;
    width: auto;
    height: auto;
    

  }
  .my-col{
    width: auto;
    height: auto;
     border: 1px solid black;
  }
  