<div class="container my-cont">
  <div class="row my-row">
    <div class="col my-col"></div>
    <div class="col my-col"></div>
  </div> 
  <div class="row my-row">
    <div class="col my-col">  
      
      <div class="form-group">
        <br>
        <i class="fas fa-home"></i>
        <input type="search" (keyup)="applyFilter($event.target.value)"
        class="form-control" id="exampleInputEmail1"
         aria-describedby="emailHelp" placeholder="Search(by ISP name,price,rating)">
        
      </div>
     
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
      
        <!-- Position Column -->
         
          <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef> Provider </th>
            <td mat-cell *matCellDef="let element"> <a  routerLink="/detailProvider/{{element.name}}">{{element.name}} </a></td>
          </ng-container>
        
          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef >Price </th>
            <td mat-cell *matCellDef="let element"><a href="#"> {{element.lowest_price}} <i class="fas fa-download"></i> </a></td>
            
          </ng-container>
       
        
      
        
       
        <tr (onFocus)='click()' mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
    <div class="col my-col" style="background-color: rgb(201, 230, 162);">
      <router-outlet></router-outlet>
    </div>  
  </div>

</div>


