.wrapper1{
    display:inline-block;
    width: 40px;
    position: relative;
    cursor:pointer;

}
.wrapper1::before{
    content:"\2605";
    position: absolute;
    font-size: 50px;
    color: rgb(20, 20, 4);
}
.wrapper {
    display:inline-block;
    width: 40px;
    position: relative;
    cursor:pointer;

}

.wrapper::before{
    content:"\2605";
    position: absolute;
    font-size: 50px;
    color: rgb(245, 248, 66);
}